header{
    height:100vh;
    width:auto;
    background:$w;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    left:0;
    top:0;
    box-shadow:$shadow;
    padding:$mS 0;
    box-sizing:border-box;

    & > a img{
        margin: $mS;
    }

    nav{
        ul{
            margin:auto;
            list-style:none;

            li{
                
                img{
                    margin:$mS;
                }
            }
        }
    }
}