// TYPOGRAPHIE 
$lato: 'Lato', sans-serif;
$regular: 300;
$bold: 700;

$fS: 14px;
$fM: 24px;
$fL: 30px;
$fXL: 40px;

// COULEURS
$y: #FFCA00;
$b: rgba(0, 157, 213, 0.1);
$g: #737373;
$w: white;
$bl: black;


// MARGIN
$mS: 10px;
$mM: 20px;
$mL: 40px;
$mXL: 80px;

// SHADOW
$shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.1);

// RESPONSIVE
$tablette: 1000px;
$mobile: 800px;